.btnBooking {
    color: #000;
    background-color: #ee3;
    padding: 1rem;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 2px 5px 0px #999;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.btnBooking:hover {
    background-color: #aa0;
    position: relative;
    top: 2px;
    box-shadow: 2px 3px 0px #999;
}
.btnBooking:active {
    background-color: #990;
    position: relative;
    top: 5px;
    box-shadow: none;
}

