@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 5px;
    font-family: YJTop Ellipsis,ヒラギノ角ゴ ProN,Hiragino Kaku Gothic ProN,メイリオ,Meiryo,Osaka,ＭＳ Ｐゴシック,MS PGothic,sans-serif;
    font-size: large;
}

div.h1 {
    font-weight: bold;
}

/* Google Fonts */
.material-symbols-outlined {
    vertical-align: middle;
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 20;
}
